body    {
        background-color: 'white';
        font-family: Tahoma, sans-serif;
        color: #000066;
}

#display {
        background-color: #FFFFFF;
        color: #987654;
}

.hidden {
        display: none;
}

.popup {
        background-color: #D9D7D9;
        position:absolute;
        border-style:inset ;
        border-width:2px;
        border-color: #000000;
        font-family: Tahoma, sans-serif;
        font-size: 0.6em;
        color: #000066;
}

.bigtext {
        font-family: Tahoma, sans-serif;
        font-size: 1.1em;
        color: #99CCFF;
}

.text {
        position:absolute;
        font-family: Tahoma, sans-serif;
        font-size: 0.9em;
        color: #000066;
}

.menu {
	hover {text-decoration: underline}
}

.topmenu {
        font-family: Tahoma, sans-serif;
        font-weight: bold;
        #font-style: italic;
        font-size: 1.5em;
        color: #99CCFF;
}

.genenames {
        position:absolute;
        font-family: Tahoma, sans-serif;
        font-size: 0.6em;
        color: #000066;
}

.banner {
        position:absolute;
        font-family: Tahoma, sans-serif;
        font-size: 0.6em;
        color: #000066;
}

.title {
        position:absolute;
        font-family: Tahoma, sans-serif;
        font-size: 0.9em;
        color: #000066;
}

.clusterdescr {
        position:absolute;
        font-family: Tahoma, sans-serif;
        font-size: 0.9em;
        color: #000066;
}

a:link { color: #1D1414 }
a.menu:link { color: #000066 }
a.menu:visited { color: #000066 }
a.bigtext:link { color: #FFFFFF }
a.bigtext:visited { color: #FFFFFF }
a:visited { color: #1D1414 }
a {text-decoration: none }
a.menu:hover {text-decoration: underline}
a:active { color: #000066 }


